.menuitem {
  // font: 300 20px/20px 'Montserrat';
  // letter-spacing: 0.08em;
  font-stretch: extra-condensed;
  text-transform: uppercase;
}
.contacts {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2) inset;
}
