/* MONTSERRAT
@font-face {
  font-family: 'Montserrat-light';
  src: local('Montserrat-light'),
  local('Montserrat-light'),
  url('../public/fonts/Montserrat-Light.ttf');
} */

@import './Preloader.css';

html {
  font-family: 'Montserrat';
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
